*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body{
  width: 100vw;
  overflow-x: hidden;
}
.hero{
  width: 100vw;
  padding: 20px 0 30px 20px;
  height: fit-content;
 background-image: url("./images/HeroDesign.webp");
 background-repeat: no-repeat;
 

}
:where(.css-dev-only-do-not-override-1uweeqc).ant-form-item .ant-form-item-label >label{
  color: #333;
  font-family: "work sans";
}
.ant-layout-sider {
  width: 20px !important;
}

.custom-button-hover:hover {
  background-color: #A982E7 !important;
color:white !important
}

.custom-button:hover {
  background-color: white!important;
color:#A982E7 !important
}
.ant-menu-item-selected{
  background-color: #A982E7 !important;
}
.ant-menu-item{
  color: white !important;
}
.ant-select-selection-item{
  font-family: 'work sans' !important;

}
.ant-radio-button{
  font-family: 'work sans' !important;
  border-color: #A982E7 !important;

}
.ant-radio-button-checked{
  color: #A982E7 !important;
}

.ant-tabs-tab-btn{
  color: #7a5dc7!important;

}
.ant-tabs-nav-wrap{
  background-color: white !important;
  border-radius:10px;
}

.ant-tooltip-open{
  background-color: #A982E7;
}
.ant-tabs-ink-bar {
  background-color: #A982E7 !important;

}@keyframes progressAnimation {
  from {
    stroke-dashoffset: 157;
  }
  to {
    stroke-dashoffset: calc(157 - (157 * var(--value)) / 100);
  }
}

.circular-progress {
  animation: progressAnimation .6s linear forwards;
}